.genraldiv{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 20px;
   
}
.profilediv{
    display: flex;
    line-height: 0.2;
    align-items: center;

}
.profiledivcamera >img{
    width: 120px;
    height: 150px;
    border-radius: 60px;
    object-fit: cover;
    margin-right: 30px;
    border: 2px solid orange;
    
}
.profilemd{
    position: absolute;
    top: 240px;
    left: 120px;
    font-size: 20px;
    padding: 5px;
    border-radius: 45px;
    background-color:whitesmoke;
    border:1px solid orange
}
.profiletext> h6{
    color: darkblue;
   
}
.profiletext> h5{
    color: blue;
   
}

.amountdiv{
    display: flex;
   margin-left: 25px;
    /* width: 800px; */
}
